.score-background {
    background-image: url('https://graficas-web-front.vercel.app/images/puntuaciones-fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.btn-gray-background {
    background-image: url('https://graficas-web-front.vercel.app/images/boton-volver-puntuaciones.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}