.game-background {
    background-image: url('https://graficas-web-front.vercel.app/images/juego-fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}