@font-face {
    font-family: "pixel";
    src: url("../../../public/fonts/04B_30__.TTF");
}

.game-background {
    /* background-image: url('https://graficas-web-front.vercel.app/images/juego-fondo.png'); */
    /* background-image: url('http://localhost:3000/images/juego-fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    height: 100%;
    width: 100%;
}

.gui-text {
    font-family: "pixel";
}

.life-scene {
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    color: yellow;
}

.life-two-player {
    position: absolute;
    top: 1.2rem;
    left: 70%;
    color: yellow;
}

.score-scene {
    position: absolute;
    top: 1.2rem;
    right: 8rem;
    color: yellow;
}

.extra-life-scene {
    position: absolute;
    top: 1.2rem;
    left: 11rem;
    color: yellow;
}

.extra-life-scene-two-player {
    position: absolute;
    top: 1.2rem;
    left: 90%;
    color: yellow;
}


.img-pos {
    position: absolute;
    top: 0.1rem;
    left: 6rem;
}

.img-pos-two-player {
    position: absolute;
    top: 0.1rem;
    left: 89%;
}

.img-lifes {
    width: 5rem;
    height: 4rem;
}

.img-none {
    display: none;
}

.show-modal {
    display: block;

}

.hide-modal {
    display: none;
}

.winner-pos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
}