@font-face {
    font-family: "pixel";
    src: url("../../../public/fonts/04B_30__.TTF");
}

.font-pixel {
    font-family: 'pixel';
}

.background-configurations {
    /* background-image: url('/images/ajustes-fondo.png'); */
    background-image: url('../../../public/images/ajustes-fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.color-yellow {
    color: yellow !important;
    cursor: pointer;
}

.point {
    cursor: pointer;
}

.image-life3 {
    background-image: url('../../../public/images/3v.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25%;
    width: 25%;
}

.image-life2 {
    background-image: url('../../../public/images/2v.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25%;
    width: 25%;
}

.image-life1 {
    background-image: url('../../../public/images/1v.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25%;
    width: 25%;
}

.image-vol5 {
    background-image: url('../../../public/images/v5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 25%;
}

.image-vol4 {
    background-image: url('../../../public/images/v4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 25%;
}

.image-vol3 {
    background-image: url('../../../public/images/v3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 25%;
}

.image-vol2 {
    background-image: url('../../../public/images/v2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 25%;
}

.image-vol1 {
    background-image: url('../../../public/images/v1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 25%;
}

.image-vol0 {
    background-image: url('../../../public/images/v0.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 25%;
}

.scene-selected {
    background-color: yellow;
    color: black !important;
    font-weight: bold;
}